html {
	height: 25%;
	width: 60%;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	color: white;
	background-color: black;
}

.text {
	padding: 10px;
}

#source {
	float: left;
}

#destination {
	float: right;
}

#aircraft {
	text-align: center;
}

#image_left {
	padding: 5px;
	float: left;
	padding-top: 2%;
}

#image_right {
	padding: 5px;
	float: right;
	padding-top: 2%;
}

#window {
	border: 1px solid;
	border-radius: 10px;
}